:root{
--colorgreen: hsl(75, 94%, 57%);
--colorwhite: hsl(0, 0%, 100%);
--colorgrey-700: hsl(0, 0%, 20%);
--colorgrey-800: hsl(0, 0%, 12%);
--colorgrey-900: hsl(0, 0%, 8%);

}

body{
  background-color: black;
}

.darkgrey{
 background-color:var(--colorgrey-800);
 height:100%;
 width: 46%;
 border-radius:20px;
 box-sizing: border-box;
}
.image{
  display: flex;
	justify-content: center;
	width: 100%;
  padding: 50px 50px 30px 50px;
  box-sizing: border-box;
  border-radius: 50%;
}
.image img{
  border-radius: 50%;
}
.Jessicarandall{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bolder;
  color:white;
}
.london{
  color:var(--colorgreen);
  padding: 10px 0px 30px 0px;
  display: flex;
  justify-content: center;
}
.frontend{
  color: white;
  display: flex;
  justify-content: center;
}
.main .github{
  display:flex;
  justify-content:center;
  color:white;
  font-size:1rem;
  padding:20px 20px 20px 20px;
  border-radius: 20px;
  background-color:var(--colorgrey-700);
  width:75%;
}

.main .github:hover{
    background-color: var(--colorgreen);
}

.main{
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
